<div class="container mt-5">
    <h1>Welcome to the PDF Manager</h1>
    <p>This is your home page. You can manage your PDFs from here.</p>
    <div class="list-group">
        <a href="/viewPdfs" class="list-group-item list-group-item-action">View My PDFs</a>
        <a href="/addPdf" class="list-group-item list-group-item-action">Add a New PDF</a>
        <a href="/auth/me" class="list-group-item list-group-item-action">My Profile</a>
        <a href="/auth/logout" class="list-group-item list-group-item-action">Logout</a>
    </div>
</div>